<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <title>school1561</title>
  <link rel="stylesheet" href="css/standardize.css">
  <link rel="stylesheet" href="css/school1561-grid.css">
  <link rel="stylesheet" href="css/school1561.css">
</head>
<body class="body page-school1561 clearfix">
  <img class="image" src="images/logo_icon.jpg">
  <div class="text text-1">
    <p>Новый инструмент для
</p>
    <p>работы со школьным
</p>
    <p>расписанием</p>
</div>
  <div class="element element-1"></div>
  <div class="element element-2"></div>
  <p class="text text-2">С ним вы сможете получать актуальную информацию об уроках, также он позволяет быстро редактировать расписание из привычного формата</p>
  <button onClick="window.location='/studentpage';" class="_button _button-1">Я ученик</button>
  <button onClick="window.location='/adminlogin';" class="_button _button-2">Я учитель</button>
  <div class="element element-3"></div>
  <p class="text text-3">данный сайт является продуктом школы 1561</p>
</body>
</html>